# Python кэш и временные файлы
__pycache__/
*.py[cod]
*.log
*.tmp
.venv

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Локальные конфиги Streamlit
.streamlit/config.toml


hackaton_metrics1.ipynb
hackaton_metrics2.ipynb

profiling_results/
chatbot
parsing/__pycache__
dashboard/__pycache__
Images
README.md
start_server.sh
MakeFile